<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>    <!--Drive class path -->
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>  <!--dataBase Path/Url-->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>    <!--Currently use in Mysql version-->
        <property name="connection.username">root</property>               <!-- data base user name-->
        <property name="connection.password">1234</property>             <!--   data base passeword-->
        <property name="show_sql">true</property>          <!-- if your data persist quries show in console  you can give (true) not (false)-->
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>         <!--create =  1st drop the table ,drop other data  how ever finally display  the data input in last-->
                                                                <!--update = data collect to the table one by one, not drop-->
    </session-factory>
</hibernate-configuration>